/* HeroDetailComponent's private CSS styles */
.hero-id, label {
  color: #435960;
  font-weight: bold;
  font-size: x-large;
  line-height: 2rem;
}
input {
  width: 40%;
  font-size: 1em;
  padding: .5rem;
  margin: .5rem
}
.go-back {
  margin: .5em 0;
}
