@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
.title {
  margin: .5rem;
  margin-right: 1rem;
  font-size: x-large;
  font-weight: bold;
  color: #0095ff;
}
nav {
  flex-wrap: wrap;
}
nb-layout-header a {
  text-decoration: none;
  margin-right: .5rem;
}
