<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nb-layout-header>

  <nb-layout-column>
    <h1>{{title}}</h1>
    <!-- <app-heroes></app-heroes> -->
    <!-- <ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.name}}
      </li>
    </ul> -->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  <app-messages></app-messages>
  </nb-layout-footer>

</nb-layout>
