/* HeroesComponent's private CSS styles */
.card-container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 1rem;
  a {
    text-decoration: none;
  }
  button {
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  .badge {
    display: inline-block;
    color: #333;
    padding: 0.5em;
    background-color:#fff;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px;
  }
  .name {
    font-size: larger;
  }
}
#new-hero {
  margin-right: .5rem;
}
.add-hero-container {
  margin: 1rem 0;
  font-size: larger;
}
